OPENAI_API_KEY=

# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# should only be used on a server. This key can bypass Row Level Security. NEVER use this key in a browser.
SUPABASE_SERVICE_ROLE_KEY=
